/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

.container {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	padding-left: 8px;
	padding-right: 8px;
}

.grid {
	display: -ms-grid;
	display: grid;
}

.gap-10 {
	grid-gap: 10px;
}

.gap-15 {
	grid-gap: 15px;
}

.gap-20 {
	grid-gap: 20px;
}

.gap-25 {
	grid-gap: 25px;
}

.gap-30 {
	grid-gap: 30px;
}

.gap-35 {
	grid-gap: 35px;
}

.gap-40 {
	grid-gap: 40px;
}

.gap-45 {
	grid-gap: -45px;
}

.gap-50 {
	grid-gap: 50px;
}

.gap-y-10 {
	grid-row-gap: 10px;
}

.gap-y-15 {
	grid-row-gap: 15px;
}

.gap-y-20 {
	grid-row-gap: 20px;
}

.gap-y-25 {
	grid-row-gap: 25px;
}

.gap-y-30 {
	grid-row-gap: 30px;
}

.gap-y-35 {
	grid-row-gap: 35px;
}

.gap-y-40 {
	grid-row-gap: 40px;
}

.gap-y-45 {
	grid-row-gap: -45px;
}

.gap-y-50 {
	grid-row-gap: 50px;
}

.gap-x-10 {
	grid-column-gap: 10px;
}

.gap-x-15 {
	grid-column-gap: 15px;
}

.gap-x-20 {
	grid-column-gap: 20px;
}

.gap-x-25 {
	grid-column-gap: 25px;
}

.gap-x-30 {
	grid-column-gap: 30px;
}

.gap-x-35 {
	grid-column-gap: 35px;
}

.gap-x-40 {
	grid-column-gap: 40px;
}

.gap-x-45 {
	grid-column-gap: -45px;
}

.gap-x-50 {
	grid-column-gap: 50px;
}

.col-start-1 {
	-ms-grid-column: 1;
	    grid-column-start: 1;
}

.col-start-2 {
	-ms-grid-column: 2;
	    grid-column-start: 2;
}

.col-start-3 {
	-ms-grid-column: 3;
	    grid-column-start: 3;
}

.col-start-4 {
	-ms-grid-column: 4;
	    grid-column-start: 4;
}

.col-start-5 {
	-ms-grid-column: 5;
	    grid-column-start: 5;
}

.col-start-6 {
	-ms-grid-column: 6;
	    grid-column-start: 6;
}

.col-start-7 {
	-ms-grid-column: 7;
	    grid-column-start: 7;
}

.col-start-8 {
	-ms-grid-column: 8;
	    grid-column-start: 8;
}

.col-start-9 {
	-ms-grid-column: 9;
	    grid-column-start: 9;
}

.col-start-10 {
	-ms-grid-column: 10;
	    grid-column-start: 10;
}

.col-start-11 {
	-ms-grid-column: 11;
	    grid-column-start: 11;
}

.col-end-2 {
	-ms-grid-column-span: 2;
	grid-column-end: 2;
}

.col-end-3 {
	-ms-grid-column-span: 3;
	grid-column-end: 3;
}

.col-end-4 {
	-ms-grid-column-span: 4;
	grid-column-end: 4;
}

.col-end-5 {
	-ms-grid-column-span: 5;
	grid-column-end: 5;
}

.col-end-6 {
	-ms-grid-column-span: 6;
	grid-column-end: 6;
}

.col-end-7 {
	-ms-grid-column-span: 7;
	grid-column-end: 7;
}

.col-end-8 {
	-ms-grid-column-span: 8;
	grid-column-end: 8;
}

.col-end-9 {
	-ms-grid-column-span: 9;
	grid-column-end: 9;
}

.col-end-10 {
	-ms-grid-column-span: 10;
	grid-column-end: 10;
}

.col-end-11 {
	-ms-grid-column-span: 11;
	grid-column-end: 11;
}

.col-end-12 {
	-ms-grid-column-span: 12;
	grid-column-end: 12;
}

.row-start-1 {
	-ms-grid-row: 1;
	    grid-row-start: 1;
}

.row-start-2 {
	-ms-grid-row: 2;
	    grid-row-start: 2;
}

.row-start-3 {
	-ms-grid-row: 3;
	    grid-row-start: 3;
}

.row-start-4 {
	-ms-grid-row: 4;
	    grid-row-start: 4;
}

.row-start-5 {
	-ms-grid-row: 5;
	    grid-row-start: 5;
}

.row-start-6 {
	-ms-grid-row: 6;
	    grid-row-start: 6;
}

.row-end-2 {
	-ms-grid-row-span: 2;
	grid-row-end: 2;
}

.row-end-3 {
	-ms-grid-row-span: 3;
	grid-row-end: 3;
}

.row-end-4 {
	-ms-grid-row-span: 4;
	grid-row-end: 4;
}

.row-end-5 {
	-ms-grid-row-span: 5;
	grid-row-end: 5;
}

.row-end-6 {
	-ms-grid-row-span: 6;
	grid-row-end: 6;
}

.row-end-7 {
	-ms-grid-row-span: 7;
	grid-row-end: 7;
}

.g-c-1 {
	-ms-grid-columns: 1fr;
	grid-template-columns: 1fr;
}

.g-c-2 {
	-ms-grid-columns: 1fr 1fr;
	grid-template-columns: 1fr 1fr;
}

.g-c-3 {
	-ms-grid-columns: 1fr 1fr 1fr;
	grid-template-columns: 1fr 1fr 1fr;
}

.g-c-4 {
	-ms-grid-columns: 1fr 1fr 1fr 1fr;
	grid-template-columns: 1fr 1fr 1fr 1fr;
}

.g-c-5 {
	-ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.g-c-6 {
	-ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.g-c-7 {
	-ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.g-c-8 {
	-ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.g-c-9 {
	-ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.g-c-10 {
	-ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.g-c-11 {
	-ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.g-c-12 {
	-ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}



@media (min-width: 576px) {

	.container {
		max-width: 540px;
		padding-left: 0px;
		padding-right: 0px;
	}

	.g-c-sm-1 {
		-ms-grid-columns: 1fr;
		grid-template-columns: 1fr;
	}

	.g-c-sm-2 {
		-ms-grid-columns: 1fr 1fr;
		grid-template-columns: 1fr 1fr;
	}

	.g-c-sm-3 {
		-ms-grid-columns: 1fr 1fr 1fr;
		grid-template-columns: 1fr 1fr 1fr;
	}

	.g-c-sm-4 {
		-ms-grid-columns: 1fr 1fr 1fr 1fr;
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}

	.g-c-sm-5 {
		-ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	}

	.g-c-sm-6 {
		-ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
	}

	.g-c-sm-7 {
		-ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	}

	.g-c-sm-8 {
		-ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	}

	.g-c-sm-9 {
		-ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	}

	.g-c-sm-10 {
		-ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	}

	.g-c-sm-11 {
		-ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	}

	.g-c-sm-12 {
		-ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	}

	.col-start-sm-1 {
		-ms-grid-column: 1;
		    grid-column-start: 1;
	}

	.col-start-sm-2 {
		-ms-grid-column: 2;
		    grid-column-start: 2;
	}

	.col-start-sm-3 {
		-ms-grid-column: 3;
		    grid-column-start: 3;
	}

	.col-start-sm-4 {
		-ms-grid-column: 4;
		    grid-column-start: 4;
	}

	.col-start-sm-5 {
		-ms-grid-column: 5;
		    grid-column-start: 5;
	}

	.col-start-sm-6 {
		-ms-grid-column: 6;
		    grid-column-start: 6;
	}

	.col-start-sm-7 {
		-ms-grid-column: 7;
		    grid-column-start: 7;
	}

	.col-start-sm-8 {
		-ms-grid-column: 8;
		    grid-column-start: 8;
	}

	.col-start-sm-9 {
		-ms-grid-column: 9;
		    grid-column-start: 9;
	}

	.col-start-sm-10 {
		-ms-grid-column: 10;
		    grid-column-start: 10;
	}

	.col-start-sm-11 {
		-ms-grid-column: 11;
		    grid-column-start: 11;
	}

	.col-end-sm-2 {
		-ms-grid-column-span: 2;
		grid-column-end: 2;
	}

	.col-end-sm-3 {
		-ms-grid-column-span: 3;
		grid-column-end: 3;
	}

	.col-end-sm-4 {
		-ms-grid-column-span: 4;
		grid-column-end: 4;
	}

	.col-end-sm-5 {
		-ms-grid-column-span: 5;
		grid-column-end: 5;
	}

	.col-end-sm-6 {
		-ms-grid-column-span: 6;
		grid-column-end: 6;
	}

	.col-end-sm-7 {
		-ms-grid-column-span: 7;
		grid-column-end: 7;
	}

	.col-end-sm-8 {
		-ms-grid-column-span: 8;
		grid-column-end: 8;
	}

	.col-end-sm-9 {
		-ms-grid-column-span: 9;
		grid-column-end: 9;
	}

	.col-end-sm-10 {
		-ms-grid-column-span: 10;
		grid-column-end: 10;
	}

	.col-end-sm-11 {
		-ms-grid-column-span: 11;
		grid-column-end: 11;
	}

	.col-end-sm-12 {
		-ms-grid-column-span: 12;
		grid-column-end: 12;
	}

	.row-start-sm-1 {
		-ms-grid-row: 1;
		    grid-row-start: 1;
	}

	.row-start-sm-2 {
		-ms-grid-row: 2;
		    grid-row-start: 2;
	}

	.row-start-sm-3 {
		-ms-grid-row: 3;
		    grid-row-start: 3;
	}

	.row-start-sm-4 {
		-ms-grid-row: 4;
		    grid-row-start: 4;
	}

	.row-start-sm-5 {
		-ms-grid-row: 5;
		    grid-row-start: 5;
	}

	.row-start-sm-6 {
		-ms-grid-row: 6;
		    grid-row-start: 6;
	}

	.row-end-sm-2 {
		-ms-grid-row-span: 2;
		grid-row-end: 2;
	}

	.row-end-sm-3 {
		-ms-grid-row-span: 3;
		grid-row-end: 3;
	}

	.row-end-sm-4 {
		-ms-grid-row-span: 4;
		grid-row-end: 4;
	}

	.row-end-sm-5 {
		-ms-grid-row-span: 5;
		grid-row-end: 5;
	}

	.row-end-sm-6 {
		-ms-grid-row-span: 6;
		grid-row-end: 6;
	}

	.row-end-sm-7 {
		-ms-grid-row-span: 7;
		grid-row-end: 7;
	}


}

@media (min-width: 768px) {
	.container {
		max-width: 720px;
	}

	.g-c-md-1 {
		-ms-grid-columns: 1fr;
		grid-template-columns: 1fr;
	}

	.g-c-md-2 {
		-ms-grid-columns: 1fr 1fr;
		grid-template-columns: 1fr 1fr;
	}

	.g-c-md-3 {
		-ms-grid-columns: 1fr 1fr 1fr;
		grid-template-columns: 1fr 1fr 1fr;
	}

	.g-c-4 {
		-ms-grid-columns: 1fr 1fr 1fr 1fr;
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}

	.g-c-md-5 {
		-ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	}

	.g-c-md-6 {
		-ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
	}

	.g-c-md-7 {
		-ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	}

	.g-c-md-8 {
		-ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	}

	.g-c-md-9 {
		-ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	}

	.g-c-md-10 {
		-ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	}

	.g-c-md-11 {
		-ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	}

	.g-c-md-12 {
		-ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	}

	.col-start-1 {
		-ms-grid-column: 1;
		    grid-column-start: 1;
	}

	.col-start-md-2 {
		-ms-grid-column: 2;
		    grid-column-start: 2;
	}

	.col-start-md-3 {
		-ms-grid-column: 3;
		    grid-column-start: 3;
	}

	.col-start-md-4 {
		-ms-grid-column: 4;
		    grid-column-start: 4;
	}

	.col-start-md-5 {
		-ms-grid-column: 5;
		    grid-column-start: 5;
	}

	.col-start-md-6 {
		-ms-grid-column: 6;
		    grid-column-start: 6;
	}

	.col-start-md-7 {
		-ms-grid-column: 7;
		    grid-column-start: 7;
	}

	.col-start-md-8 {
		-ms-grid-column: 8;
		    grid-column-start: 8;
	}

	.col-start-md-9 {
		-ms-grid-column: 9;
		    grid-column-start: 9;
	}

	.col-start-md-10 {
		-ms-grid-column: 10;
		    grid-column-start: 10;
	}

	.col-start-md-11 {
		-ms-grid-column: 11;
		    grid-column-start: 11;
	}

	.col-end-md-2 {
		-ms-grid-column-span: 2;
		grid-column-end: 2;
	}

	.col-end-md-3 {
		-ms-grid-column-span: 3;
		grid-column-end: 3;
	}

	.col-end-md-4 {
		-ms-grid-column-span: 4;
		grid-column-end: 4;
	}

	.col-end-md-5 {
		-ms-grid-column-span: 5;
		grid-column-end: 5;
	}

	.col-end-md-6 {
		-ms-grid-column-span: 6;
		grid-column-end: 6;
	}

	.col-end-md-7 {
		-ms-grid-column-span: 7;
		grid-column-end: 7;
	}

	.col-end-md-8 {
		-ms-grid-column-span: 8;
		grid-column-end: 8;
	}

	.col-end-md-9 {
		-ms-grid-column-span: 9;
		grid-column-end: 9;
	}

	.col-end-md-10 {
		-ms-grid-column-span: 10;
		grid-column-end: 10;
	}

	.col-end-md-11 {
		-ms-grid-column-span: 11;
		grid-column-end: 11;
	}

	.col-end-md-12 {
		-ms-grid-column-span: 12;
		grid-column-end: 12;
	}

	.row-start-md-1 {
		-ms-grid-row: 1;
		    grid-row-start: 1;
	}

	.row-start-md-2 {
		-ms-grid-row: 2;
		    grid-row-start: 2;
	}

	.row-start-md-3 {
		-ms-grid-row: 3;
		    grid-row-start: 3;
	}

	.row-start-md-4 {
		-ms-grid-row: 4;
		    grid-row-start: 4;
	}

	.row-start-md-5 {
		-ms-grid-row: 5;
		    grid-row-start: 5;
	}

	.row-start-md-6 {
		-ms-grid-row: 6;
		    grid-row-start: 6;
	}

	.row-end-md-2 {
		-ms-grid-row-span: 2;
		grid-row-end: 2;
	}

	.row-end-md-3 {
		-ms-grid-row-span: 3;
		grid-row-end: 3;
	}

	.row-end-md-4 {
		-ms-grid-row-span: 4;
		grid-row-end: 4;
	}

	.row-end-md-5 {
		-ms-grid-row-span: 5;
		grid-row-end: 5;
	}

	.row-end-md-6 {
		-ms-grid-row-span: 6;
		grid-row-end: 6;
	}

	.row-end-md-7 {
		-ms-grid-row-span: 7;
		grid-row-end: 7;
	}


}

@media (min-width: 992px) {
	.container {
		max-width: 960px;
	}

	.g-c-lg-1 {
		-ms-grid-columns: 1fr;
		grid-template-columns: 1fr;
	}

	.g-c-lg-2 {
		-ms-grid-columns: 1fr 1fr;
		grid-template-columns: 1fr 1fr;
	}

	.g-c-lg-3 {
		-ms-grid-columns: 1fr 1fr 1fr;
		grid-template-columns: 1fr 1fr 1fr;
	}

	.g-c-lg-4 {
		-ms-grid-columns: 1fr 1fr 1fr 1fr;
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}

	.g-c-lg-5 {
		-ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	}

	.g-c-lg-6 {
		-ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
	}

	.g-c-lg-7 {
		-ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	}

	.g-c-lg-8 {
		-ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	}

	.g-c-lg-9 {
		-ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	}

	.g-c-lg-10 {
		-ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	}

	.g-c-lg-11 {
		-ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	}

	.g-c-lg-12 {
		-ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	}

	.col-start-1 {
		-ms-grid-column: 1;
		    grid-column-start: 1;
	}

	.col-start-lg-2 {
		-ms-grid-column: 2;
		    grid-column-start: 2;
	}

	.col-start-lg-3 {
		-ms-grid-column: 3;
		    grid-column-start: 3;
	}

	.col-start-lg-4 {
		-ms-grid-column: 4;
		    grid-column-start: 4;
	}

	.col-start-lg-5 {
		-ms-grid-column: 5;
		    grid-column-start: 5;
	}

	.col-start-lg-6 {
		-ms-grid-column: 6;
		    grid-column-start: 6;
	}

	.col-start-lg-7 {
		-ms-grid-column: 7;
		    grid-column-start: 7;
	}

	.col-start-lg-8 {
		-ms-grid-column: 8;
		    grid-column-start: 8;
	}

	.col-start-lg-9 {
		-ms-grid-column: 9;
		    grid-column-start: 9;
	}

	.col-start-lg-10 {
		-ms-grid-column: 10;
		    grid-column-start: 10;
	}

	.col-start-lg-11 {
		-ms-grid-column: 11;
		    grid-column-start: 11;
	}

	.col-end-lg-2 {
		-ms-grid-column-span: 2;
		grid-column-end: 2;
	}

	.col-end-lg-3 {
		-ms-grid-column-span: 3;
		grid-column-end: 3;
	}

	.col-end-lg-4 {
		-ms-grid-column-span: 4;
		grid-column-end: 4;
	}

	.col-end-lg-5 {
		-ms-grid-column-span: 5;
		grid-column-end: 5;
	}

	.col-end-lg-6 {
		-ms-grid-column-span: 6;
		grid-column-end: 6;
	}

	.col-end-lg-7 {
		-ms-grid-column-span: 7;
		grid-column-end: 7;
	}

	.col-end-lg-8 {
		-ms-grid-column-span: 8;
		grid-column-end: 8;
	}

	.col-end-lg-9 {
		-ms-grid-column-span: 9;
		grid-column-end: 9;
	}

	.col-end-lg-10 {
		-ms-grid-column-span: 10;
		grid-column-end: 10;
	}

	.col-end-lg-11 {
		-ms-grid-column-span: 11;
		grid-column-end: 11;
	}

	.col-end-lg-12 {
		-ms-grid-column-span: 12;
		grid-column-end: 12;
	}

	.row-start-lg-1 {
		-ms-grid-row: 1;
		    grid-row-start: 1;
	}

	.row-start-lg-2 {
		-ms-grid-row: 2;
		    grid-row-start: 2;
	}

	.row-start-lg-3 {
		-ms-grid-row: 3;
		    grid-row-start: 3;
	}

	.row-start-lg-4 {
		-ms-grid-row: 4;
		    grid-row-start: 4;
	}

	.row-start-lg-5 {
		-ms-grid-row: 5;
		    grid-row-start: 5;
	}

	.row-start-lg-6 {
		-ms-grid-row: 6;
		    grid-row-start: 6;
	}

	.row-end-lg-2 {
		-ms-grid-row-span: 2;
		grid-row-end: 2;
	}

	.row-end-lg-3 {
		-ms-grid-row-span: 3;
		grid-row-end: 3;
	}

	.row-end-lg-4 {
		-ms-grid-row-span: 4;
		grid-row-end: 4;
	}

	.row-end-lg-5 {
		-ms-grid-row-span: 5;
		grid-row-end: 5;
	}

	.row-end-lg-6 {
		-ms-grid-row-span: 6;
		grid-row-end: 6;
	}

	.row-end-lg-7 {
		-ms-grid-row-span: 7;
		grid-row-end: 7;
	}


}

@media (min-width: 1200px) {
	.container {
		max-width: 1140px;
	}

	.g-c-xl-1 {
		-ms-grid-columns: 1fr;
		grid-template-columns: 1fr;
	}

	.g-c-xl-2 {
		-ms-grid-columns: 1fr 1fr;
		grid-template-columns: 1fr 1fr;
	}

	.g-c-xl-3 {
		-ms-grid-columns: 1fr 1fr 1fr;
		grid-template-columns: 1fr 1fr 1fr;
	}

	.g-c-xl-4 {
		-ms-grid-columns: 1fr 1fr 1fr 1fr;
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}

	.g-c-xl-5 {
		-ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	}

	.g-c-xl-6 {
		-ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
	}

	.g-c-xl-7 {
		-ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	}

	.g-c-xl-8 {
		-ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	}

	.g-c-xl-9 {
		-ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	}

	.g-c-xl-10 {
		-ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	}

	.g-c-xl-11 {
		-ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	}

	.g-c-xl-12 {
		-ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	}

	.col-start-xl-1 {
		-ms-grid-column: 1;
		    grid-column-start: 1;
	}

	.col-start-xl-2 {
		-ms-grid-column: 2;
		    grid-column-start: 2;
	}

	.col-start-xl-3 {
		-ms-grid-column: 3;
		    grid-column-start: 3;
	}

	.col-start-xl-4 {
		-ms-grid-column: 4;
		    grid-column-start: 4;
	}

	.col-start-xl-5 {
		-ms-grid-column: 5;
		    grid-column-start: 5;
	}

	.col-start-xl-6 {
		-ms-grid-column: 6;
		    grid-column-start: 6;
	}

	.col-start-xl-7 {
		-ms-grid-column: 7;
		    grid-column-start: 7;
	}

	.col-start-xl-8 {
		-ms-grid-column: 8;
		    grid-column-start: 8;
	}

	.col-start-xl-9 {
		-ms-grid-column: 9;
		    grid-column-start: 9;
	}

	.col-start-xl-10 {
		-ms-grid-column: 10;
		    grid-column-start: 10;
	}

	.col-start-xl-11 {
		-ms-grid-column: 11;
		    grid-column-start: 11;
	}

	.col-end-xl-2 {
		-ms-grid-column-span: 2;
		grid-column-end: 2;
	}

	.col-end-xl-3 {
		-ms-grid-column-span: 3;
		grid-column-end: 3;
	}

	.col-end-xl-4 {
		-ms-grid-column-span: 4;
		grid-column-end: 4;
	}

	.col-end-xl-5 {
		-ms-grid-column-span: 5;
		grid-column-end: 5;
	}

	.col-end-xl-6 {
		-ms-grid-column-span: 6;
		grid-column-end: 6;
	}

	.col-end-xl-7 {
		-ms-grid-column-span: 7;
		grid-column-end: 7;
	}

	.col-end-xl-8 {
		-ms-grid-column-span: 8;
		grid-column-end: 8;
	}

	.col-end-xl-9 {
		-ms-grid-column-span: 9;
		grid-column-end: 9;
	}

	.col-end-xl-10 {
		-ms-grid-column-span: 10;
		grid-column-end: 10;
	}

	.col-end-xl-11 {
		-ms-grid-column-span: 11;
		grid-column-end: 11;
	}

	.col-end-xl-12 {
		-ms-grid-column-span: 12;
		grid-column-end: 12;
	}

	.row-start-xl-1 {
		-ms-grid-row: 1;
		    grid-row-start: 1;
	}

	.row-start-xl-2 {
		-ms-grid-row: 2;
		    grid-row-start: 2;
	}

	.row-start-xl-3 {
		-ms-grid-row: 3;
		    grid-row-start: 3;
	}

	.row-start-xl-4 {
		-ms-grid-row: 4;
		    grid-row-start: 4;
	}

	.row-start-xl-5 {
		-ms-grid-row: 5;
		    grid-row-start: 5;
	}

	.row-start-xl-6 {
		-ms-grid-row: 6;
		    grid-row-start: 6;
	}

	.row-end-xl-2 {
		-ms-grid-row-span: 2;
		grid-row-end: 2;
	}

	.row-end-xl-3 {
		-ms-grid-row-span: 3;
		grid-row-end: 3;
	}

	.row-end-xl-4 {
		-ms-grid-row-span: 4;
		grid-row-end: 4;
	}

	.row-end-xl-5 {
		-ms-grid-row-span: 5;
		grid-row-end: 5;
	}

	.row-end-xl-6 {
		-ms-grid-row-span: 6;
		grid-row-end: 6;
	}

	.row-end-xl-7 {
		-ms-grid-row-span: 7;
		grid-row-end: 7;
	}


}

@media (min-width: 1400px) {
	.container {
		max-width: 1140px;
	}

	.g-c-xxl-1 {
		-ms-grid-columns: 1fr;
		grid-template-columns: 1fr;
	}

	.g-c-xxl-2 {
		-ms-grid-columns: 1fr 1fr;
		grid-template-columns: 1fr 1fr;
	}

	.g-c-xxl-3 {
		-ms-grid-columns: 1fr 1fr 1fr;
		grid-template-columns: 1fr 1fr 1fr;
	}

	.g-c-xxl-4 {
		-ms-grid-columns: 1fr 1fr 1fr 1fr;
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}

	.g-c-xxl-5 {
		-ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	}

	.g-c-xxl-6 {
		-ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
	}

	.g-c-xxl-7 {
		-ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	}

	.g-c-xxl-8 {
		-ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	}

	.g-c-xxl-9 {
		-ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	}

	.g-c-xxl-10 {
		-ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	}

	.g-c-xxl-11 {
		-ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	}

	.g-c-xxl-12 {
		-ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	}

	.col-start-xxl-1 {
		-ms-grid-column: 1;
		    grid-column-start: 1;
	}

	.col-start-xxl-2 {
		-ms-grid-column: 2;
		    grid-column-start: 2;
	}

	.col-start-xxl-3 {
		-ms-grid-column: 3;
		    grid-column-start: 3;
	}

	.col-start-xxl-4 {
		-ms-grid-column: 4;
		    grid-column-start: 4;
	}

	.col-start-xxl-5 {
		-ms-grid-column: 5;
		    grid-column-start: 5;
	}

	.col-start-xxl-6 {
		-ms-grid-column: 6;
		    grid-column-start: 6;
	}

	.col-start-xxl-7 {
		-ms-grid-column: 7;
		    grid-column-start: 7;
	}

	.col-start-xxl-8 {
		-ms-grid-column: 8;
		    grid-column-start: 8;
	}

	.col-start-xxl-9 {
		-ms-grid-column: 9;
		    grid-column-start: 9;
	}

	.col-start-xxl-10 {
		-ms-grid-column: 10;
		    grid-column-start: 10;
	}

	.col-start-xxl-11 {
		-ms-grid-column: 11;
		    grid-column-start: 11;
	}

	.col-end-xxl-2 {
		-ms-grid-column-span: 2;
		grid-column-end: 2;
	}

	.col-end-xxl-3 {
		-ms-grid-column-span: 3;
		grid-column-end: 3;
	}

	.col-end-xxl-4 {
		-ms-grid-column-span: 4;
		grid-column-end: 4;
	}

	.col-end-xxl-5 {
		-ms-grid-column-span: 5;
		grid-column-end: 5;
	}

	.col-end-xxl-6 {
		-ms-grid-column-span: 6;
		grid-column-end: 6;
	}

	.col-end-xxl-7 {
		-ms-grid-column-span: 7;
		grid-column-end: 7;
	}

	.col-end-xxl-8 {
		-ms-grid-column-span: 8;
		grid-column-end: 8;
	}

	.col-end-xxl-9 {
		-ms-grid-column-span: 9;
		grid-column-end: 9;
	}

	.col-end-xxl-10 {
		-ms-grid-column-span: 10;
		grid-column-end: 10;
	}

	.col-end-xxl-11 {
		-ms-grid-column-span: 11;
		grid-column-end: 11;
	}

	.col-end-xxl-12 {
		-ms-grid-column-span: 12;
		grid-column-end: 12;
	}

	.row-start-xxl-1 {
		-ms-grid-row: 1;
		    grid-row-start: 1;
	}

	.row-start-xxl-2 {
		-ms-grid-row: 2;
		    grid-row-start: 2;
	}

	.row-start-xxl-3 {
		-ms-grid-row: 3;
		    grid-row-start: 3;
	}

	.row-start-xxl-4 {
		-ms-grid-row: 4;
		    grid-row-start: 4;
	}

	.row-start-xxl-5 {
		-ms-grid-row: 5;
		    grid-row-start: 5;
	}

	.row-start-xxl-6 {
		-ms-grid-row: 6;
		    grid-row-start: 6;
	}

	.row-end-xxl-2 {
		-ms-grid-row-span: 2;
		grid-row-end: 2;
	}

	.row-end-xxl-3 {
		-ms-grid-row-span: 3;
		grid-row-end: 3;
	}

	.row-end-xxl-4 {
		-ms-grid-row-span: 4;
		grid-row-end: 4;
	}

	.row-end-xxl-5 {
		-ms-grid-row-span: 5;
		grid-row-end: 5;
	}

	.row-end-xxl-6 {
		-ms-grid-row-span: 6;
		grid-row-end: 6;
	}

	.row-end-xxl-7 {
		-ms-grid-row-span: 7;
		grid-row-end: 7;
	}

}
